<% @posts.each do |post| %>
<div>
  <%= attachment_image_tag post, :image %>
  <%= link_to post_path(post) do %>
    <p>タイトル:<%= post.title %></p>
  <% end %>
  <p>内容:<%= post.contents %></p>
  <p><%= attachment_image_tag post.user, :icon, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>ニックネーム:<%= post.user.nickname %></p>
  <p><%= "#{post.comments.count} コメント" %></p>
</div>
<% end %>

<%= paginate @posts %>
