<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= attachment_image_tag @post, :image, class: 'card-img-top' %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= attachment_image_tag @post.user, :icon, :fill, 60, 60, fallback: "no_image.jpg", class: 'mt-3 rounded-circle' %>
        </div>
        <div class="col-10">
          <p class="card-title">タイトル:<%= @post.title %></p>
          <p class="card-text">内容:<%= @post.contents %></p>

          <p>ニックネーム:<%= @post.user.nickname %></p>
          <p>投稿日時:<%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post), method: :delete, class: 'text-danger' %>
          <% end %>
          <% if @post.favorited_by?(current_user) %>
            <p>
              <%= link_to post_favorites_path(@post), method: :delete, class: 'text-primary' do %>
                ♥<%= @post.favorites.count %> いいね
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to post_favorites_path(@post), method: :post, class: 'text-primary' do %>
                ♡<%= @post.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-list-container py-5">
    <div class="card w-50 mx-auto shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p>コメント数:<%= @post.comments.count %></p>
            <% @post.comments.each do |comment| %>
            <p class="mt-2">----------------------------------------------------------------------------------------</p>
              <p><%= comment.user.nickname %></p>
              <p><%= comment.comment %></p>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
              <% if comment.user == current_user %>
              <div>
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: 'text-danger' %>
              </div>
              <% end %>
            <p class="mt-2">----------------------------------------------------------------------------------------</p>
            <% end %>

            <%= form_with(model:[@post, @comment], local: true) do |f| %>
            <div class="form-group">
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: 'form-control col' %>
            </div>
            <div class="actions form-group">
              <%= f.submit "送信", class: 'btn btn-primary col-2 offset-5' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
