<div>
  <%= attachment_image_tag @post, :image %>
  <p>タイトル:<%= @post.title %></p>
  <p>内容:<%= @post.contents %></p>
  <p>ニックネーム:<%= @post.user.nickname %></p>
  <p>投稿日時:<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
</div>

<div>
  <p>コメント数:<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= comment.user.nickname %></p>
    <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
    <%= comment.comment %>
    <% if comment.user == current_user %>
    <div>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    </div>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with(model:[@post, @comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
    <%= f.submit "送信" %>
  <% end %>
</div>
